@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Azeret+Mono:regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background-color: #4A2B33;
  color: #D27487;
  padding: 44px 0px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: #4A2B33;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  flex: 0 0 276px;
  z-index: 3;
}
.header__nets {
  position: relative;
  display: flex;
  gap: 16px;
  z-index: 3;
}

.menu-header__body {
  position: relative;
  z-index: 3;
}
.menu-header__list {
  display: flex;
  gap: 20px;
}
.menu-header__link {
  font-size: 0.9375rem;
  line-height: 160%;
  color: #D27487;
  transition: all 0.3s ease;
}
.menu-header__link:hover {
  text-decoration: underline;
}

.menu-open .header::before {
  height: 110px;
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #4A2B33;
    padding: 30px 0px;
  }
  .menu-open .header {
    position: fixed;
  }
  .menu-header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    background-color: #4A2B33;
    padding: 128px 15px 20px 15px;
    overflow: auto;
    z-index: 1;
  }
  .header__logo {
    position: absolute;
    top: 28px;
    left: 10px;
    z-index: 7;
    max-width: 200px;
  }
  .header__logo img {
    max-width: 100%;
  }
  .menu-header__list {
    flex-direction: column;
    align-items: center;
  }
  .menu-open .menu-header__body {
    left: 0;
  }
  .header__nets {
    display: none;
  }
  .menu-open .header__nets {
    display: block;
    position: absolute;
    top: 78px;
    z-index: 7;
    left: 50%;
    margin-left: -54px;
  }
  .menu-open .header__nets img {
    margin-right: 12px;
  }
  .menu-header__link {
    font-size: 1.875rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 6;
    width: 30px;
    height: 18px;
  }
  .icon-menu__line,
.icon-menu::before,
.icon-menu::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu__line {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu__line {
    left: 50%;
    width: 0;
  }
}
button {
  background-color: #4A2B33;
}

.title {
  font-family: "Azeret Mono";
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 127%;
  color: #222222;
}

.text {
  font-family: "Inter";
  font-size: 2rem;
  line-height: 140%;
  color: #222222;
  text-align: center;
}

.btn {
  padding: 17px 0px;
  text-align: center;
  border: 2px solid #6F6F64;
  background-color: #E9E9E3;
  color: #6F6F64;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #d6d6cd;
}

.btn.active {
  padding: 17px 0px;
  text-align: center;
  background-color: #6F6F64;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .text {
    font-size: 1.125rem;
  }
}
@media (max-width: 991.98px) {
  .btn {
    max-width: 100%;
  }
}
.footer {
  padding: 52px 0px 31px 0px;
}
.footer_container-inner {
  max-width: 650px;
  margin: 0 auto;
}
.footer__menu {
  margin: 0px 0px 16px 0px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__list li:not(:last-child) {
  margin: 0px 32px 0px 0px;
}
.footer__link {
  font-size: 0.9375rem;
  line-height: 146.666667%;
  color: #1F1F1F;
  transition: all 0.3s ease;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__content-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__content-list li {
  font-size: 0.8125rem;
  line-height: 153.846154%;
  color: #696969;
}

@media (max-width: 459.98px) {
  .footer {
    padding: 30px 0px 16px 0px;
  }
  .footer__list {
    justify-content: center;
  }
  .footer__list li:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
  .footer__content-list {
    gap: 8px;
  }
}
body {
  font-family: "Inter";
  font-size: 1.5625rem;
  color: #ffffff;
}

[class*=__container] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}
.page__main {
  background-color: #4A2B33;
  min-height: 680px;
}
.page__about {
  padding: 220px 0px;
}
.page__menu {
  padding: 120px 0px;
  background-color: #E9E9E3;
}
.page__schedule {
  background-color: #AA9E54;
  padding: 120px 0px;
}
.page__gallery {
  padding: 152px 0px 120px 0px;
}
.page__info {
  background-color: #4A2B33;
  padding: 120px 0;
}

@media (max-width: 991.98px) {
  .page__menu {
    padding: 90px 0px;
  }
  .page__schedule {
    padding: 90px 0px;
  }
  .page__gallery {
    padding: 112px 0px 90px 0px;
  }
  .page__info {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .page__about {
    padding: 70px 0px;
  }
  .page__menu {
    padding: 50px 0px;
  }
  .page__schedule {
    padding: 50px 0px;
  }
  .page__gallery {
    padding: 42px 0px 20px 0px;
  }
  .page__info {
    padding: 50px 0;
  }
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 644px;
  top: 0;
  left: 0;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title:not(:last-child) {
  margin: 0px 0px 3px 0px;
}
.about__text {
  max-width: 869px;
}

@media (max-width: 767.98px) {
  .about__text {
    font-size: 1.125rem;
  }
}
.menu__container {
  display: flex;
  gap: calc(30px + 74 * ((100vw - 320px) / 1120));
}
.menu__content {
  flex: 1 1 auto;
}
.menu__title {
  color: #6F6F64;
}
.menu__title:not(:last-child) {
  margin: 0px 0px 17px 0px;
}
.menu__text {
  color: #6F6F64;
  text-align: left;
  max-width: 490px;
}
.menu__text:not(:last-child) {
  margin: 0px 0px 63px 0px;
}
.menu__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__image {
  flex: 0 1 644px;
}
.menu__image img {
  display: none;
  max-width: 100%;
}
.menu__image img.active {
  display: block;
}

.btn, .btn.active {
  width: calc(400px + 131 * ((100vw - 320px) / 1120));
}

@media (max-width: 991.98px) {
  .menu__container {
    display: block;
  }
  .menu__content {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  .menu__text:not(:last-child) {
    margin: 0px auto 25px auto;
  }
  .menu__image img {
    margin: 0 auto;
  }
  .menu__actions {
    align-items: center;
  }
}
.schedule__container {
  display: flex;
  justify-content: space-between;
}
.schedule__item {
  flex: 0 1 390px;
}
.schedule__item:nth-child(2) .item__text p:nth-child(2) {
  margin-bottom: calc(15px + 20 * ((100vw - 320px) / 1120));
}
.schedule__item:nth-child(3) .item__text p {
  max-width: 305px;
  margin: 0 auto;
}

.item__title {
  text-align: center;
  color: #ffffff;
}
.item__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item__text {
  text-align: center;
  font-size: 1.625rem;
  line-height: 138.461538%;
}

@media (max-width: 991.98px) {
  .schedule__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .schedule__container {
    display: block;
  }
  .schedule__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .schedule__item:nth-child(2) .item__text p:nth-child(2) {
    margin: 0px 0px 15px 0px;
  }
  .item__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
  .item__text {
    font-size: 21px;
  }
}
.gallery__container {
  display: grid;
  gap: calc(15px + 25 * ((100vw - 320px) / 1120));
  grid-template-areas: "item-1 item-3" "item-2 item-3";
}
.gallery__item {
  position: relative;
  font-size: 0;
  padding-bottom: 50%;
}
.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

@media (max-width: 767.98px) {
  .gallery__container {
    display: block;
  }
  .gallery__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.info__container {
  display: flex;
  justify-content: space-between;
  color: #D27487;
}
.info__title {
  flex: 0 0 400px;
  font-family: "Azeret Mono";
  font-size: 2.9375rem;
  line-height: 131.914894%;
  letter-spacing: 1px;
  padding-right: 15px;
}
.info__text {
  max-width: 520px;
  font-size: 1.125rem;
  line-height: 150%;
}

@media (max-width: 767.98px) {
  .info__container {
    display: block;
  }
  .info__title {
    padding: 0;
    font-size: 1.5625rem;
  }
  .info__title:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
  .info__text {
    font-size: 1rem;
  }
}