.footer {
	background-color: #000;
	padding: 96px 0;

	&_container-inner {
		max-width: 1010px;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
	}
	&__menu {
		li{
			&:not(:last-child){
				margin: 0px 0px 8px 0px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__contacts {
		flex: 0 0 366px;
	}
}
.title-footer {
	font-size: 0.8125rem;
	line-height: 154%;
	margin: 0px 0px 40px 0px;
	background-color: #000;
	color: #fff;
}
.menu-link {
	text-decoration: none;
	font-size: 0.75rem;
	line-height: 125%;
	color: #7E7E7E;
}
.btn {
	color: #fff;
	&__form {
		text-align: center;
		flex: 0 0 135px;
		background-color: #fff;
		font-size: 0.75rem;
		line-height: 125%;
		color: #7E7E7E;
		padding: 12px 0;
	}
}
.contact{
	display: flex;
	flex-direction: column;
	text-align: end;
}
.contacts {

	&__title{
		font-size: 0.75rem;
		line-height: 125%;
		letter-spacing: 1.71px;
		margin: 0px 0px 42px 0px;
	}
	&__subtitle {
		font-size: 0.75rem;
		line-height: 125%;
		color: #7E7E7E;
		margin: 0px 0px 15px 0px;
	}
	&__nets {
		justify-content: flex-end;
		display: flex;
		gap: 24px;
		margin: 0px 0px 17px 0px;
	}
	&__production {
		font-size: 0.625rem;
		line-height: 120%;
		color: #7E7E7E;
	}
}
.form {
	display: flex;
	margin: 0px 0px 50px 0px;
	input{
		font-size: 12px;
		line-height: 125%;
		color: #7E7E7E;
		padding: 11px 81px 12px 15px;
		border: 1px solid #fff;
		background-color: #000;
	}
}

@media (max-width: 991.98px) {
	.footer{
		padding: 66px 0;
		&_container-inner {
			flex-direction: column;
		}
		&__contacts {
			flex: 0 0 auto;
		}
	}
	.contact{
		text-align: start;
	}
	.contacts{
		&__title{
			font-size: 14px;
			margin: 20px 0px 15px 0px;
		}
		&__subtitle {
			margin: 0px 0px 11px 0px;
		}
	}
	.form {
		margin: 0px 0px 25px 0px;
	}
	.title-footer {
		margin: 0px 0px 25px 0px;
	}
	.menu-link {
		font-size: 14px;
	}
	.title-footer {
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {
	.footer{
		padding: 33px 0;
		&__menu {
			li{
				margin: 0px 0px 8px 0px;
			}
		}
	}
	.title-footer {
		position: relative;
		margin: 12px 0px 8px 0px;
		padding: 0px 0px 0px 30px;
		cursor: pointer;
	}
	.footer__content._init .title-footer::before,
	.footer__content._init .title-footer::after {
		content: '';
		width: 10px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 11px;
		transition: all 0.3s ease;
	}
	.footer__content._init .title-footer::before{
		transform: rotate(40deg);
		left: 0;
	}
	.footer__content._init .title-footer::after{
		transform: rotate(-40deg);
		left: 8px;
	}
	.footer__content._init .title-footer._active::before{
		transform: rotate(-40deg);
	}
	.footer__content._init .title-footer._active::after{
		transform: rotate(40deg);
	}
	.form {
		flex-direction: column;
		margin: 0px 0px 15px 0px;
	}
	.btn {
		&__form {
			flex: 0 0 auto;
		}
	}
	.contacts{
		&__production {
			text-align: center;
		}
	}
}