@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFF;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__line:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form__input {
  padding: 0.75rem 0.875rem;
  width: 100%;
  font-size: 1rem;
  color: #2F343A;
}

.form__input:focus {
  outline: 3px solid #C8A35F;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 3rem;
  background-color: #C8A35F;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.58;
  /* 25.313px */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C8A35F;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button--fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 1.58;
}

.text_s {
  font-size: 1rem;
}

.text p {
  opacity: 0;
  -webkit-transform: translateY(0.9375rem);
      -ms-transform: translateY(0.9375rem);
          transform: translateY(0.9375rem);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.text p span {
  color: #C8A35F;
}

.text._watcher-view p {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.text._watcher-view p:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.text._watcher-view p:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.text._watcher-view p:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.text._watcher-view p:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.text._watcher-view p:nth-child(5) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.text._watcher-view p:nth-child(6) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(1.5625rem);
      -ms-transform: translateY(1.5625rem);
          transform: translateY(1.5625rem);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.title._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.title span {
  color: #C8A35F;
}

.title::before {
  content: "";
  position: absolute;
  width: 5.625rem;
  height: 0.375rem;
  background-color: #C8A35F;
  top: -2.5rem;
  left: 0;
}

.title_n::before {
  display: none;
}

.title_black {
  color: #2F343A;
}

.title_s {
  font-size: 1.75rem;
}

.header {
  background-color: #2F343A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header._header-scroll {
  height: 4.375rem;
  background-color: #24282c;
}

.header__container {
  -webkit-transition: min-height 0.3s;
  transition: min-height 0.3s;
  min-height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

._header-scroll .header__container {
  min-height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__phone {
  font-size: 0.875rem;
  letter-spacing: 0.04375rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  font-size: 0.875rem;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  position: relative;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #2F343A;
}

.footer__nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nets:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__net {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(200, 163, 95, 0.35);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: circle-increase 2s ease infinite;
          animation: circle-increase 2s ease infinite;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer__net img {
  width: 2.5rem;
  height: 2.5rem;
}

.page__main {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  padding-bottom: 0.9375rem;
}

.page__main::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75)));
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%);
}

.main__container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main__content {
  padding: 2.8125rem 4.4375rem;
  border: 1px solid #C8A35F;
}

.main__title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(1.5625rem);
      -ms-transform: translateY(1.5625rem);
          transform: translateY(1.5625rem);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.main__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.main__text {
  opacity: 0;
  -webkit-transform: translateY(1.5625rem);
      -ms-transform: translateY(1.5625rem);
          transform: translateY(1.5625rem);
  -webkit-transition: opacity 0.5s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s, transform 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s, transform 0.5s ease 0.3s, -webkit-transform 0.5s ease 0.3s;
}

.main__text._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.main__nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__nets:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.main__net {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(200, 163, 95, 0.35);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: circle-increase 2s ease infinite;
          animation: circle-increase 2s ease infinite;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main__net img {
  width: 2.5rem;
  height: 2.5rem;
}

.main__mouse {
  -webkit-animation: mouse-move 2s ease infinite;
          animation: mouse-move 2s ease infinite;
}

@-webkit-keyframes circle-increase {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle-increase {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes mouse-move {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }

  50% {
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem);
  }

  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes mouse-move {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }

  50% {
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem);
  }

  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.page__why {
  background-color: #2F343A;
}

.why__title {
  text-align: center;
}

.why__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.why__item {
  background-color: transparent;
  padding: 0.9375rem;
  border: 1px solid #2F343A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: border 0.3s, opacity 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, opacity 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
  transition: transform 0.5s, border 0.3s, box-shadow 0.3s, opacity 0.3s;
  transition: transform 0.5s, border 0.3s, box-shadow 0.3s, opacity 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
}

.item-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-why__icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: tranform 0.3s ease 0.5s, opacity 0.3s ease 0.5s;
  transition: tranform 0.3s ease 0.5s, opacity 0.3s ease 0.5s;
  opacity: 0;
}

.item-why__icon img {
  width: 4.375rem;
  height: 4.375rem;
}

.item-why__title {
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(0.9375rem);
      -ms-transform: translateY(0.9375rem);
          transform: translateY(0.9375rem);
  -webkit-transition: tranform 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
  transition: tranform 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
}

.item-why__text {
  opacity: 0;
  -webkit-transform: translateY(0.9375rem);
      -ms-transform: translateY(0.9375rem);
          transform: translateY(0.9375rem);
  -webkit-transition: tranform 0.3s ease 0.7s, opacity 0.3s ease 0.7s;
  transition: tranform 0.3s ease 0.7s, opacity 0.3s ease 0.7s;
}

.item-why._watcher-view .item-why__icon {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.item-why._watcher-view .item-why__title,
.item-why._watcher-view .item-why__text {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page__services {
  background-color: #393F47;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.item-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.item-service__image {
  position: relative;
  padding-bottom: 60.130719%;
  overflow: hidden;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.item-service__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.item-service__title {
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(0.9375rem);
      -ms-transform: translateY(0.9375rem);
          transform: translateY(0.9375rem);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.item-service._watcher-view .item-service__image {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-service._watcher-view .item-service__title {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page__about {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  z-index: 2;
}

.page__about::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.95)), to(rgba(47, 52, 58, 0.95)));
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.95) 0%, rgba(47, 52, 58, 0.95) 100%);
  z-index: 1;
}

.about__container {
  position: relative;
  z-index: 1;
}

.about__content {
  border: 1px solid #C8A35F;
  padding: 0.9375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.about__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.page__prices {
  background-color: #2F343A;
}

.prices__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 2.1875rem;
}

.item-price__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-price__title span {
  text-transform: uppercase;
}

.item-price table {
  border-collapse: collapse;
  width: 100%;
}

.item-price th,
.item-price td {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
}

.item-price th {
  color: #C8A35F;
  width: 40%;
}

.qa__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.qa__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.qa__item {
  line-height: 1.15;
}

.item-qa__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C8A35F;
  padding: 0.9375rem;
  gap: 0.625rem;
  border: 1px solid #C8A35F;
  border-bottom: none;
  -webkit-transition: border 0.3s, background-color 0.3s, color 0.3s;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.item-qa__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-qa__title::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  background: url("../img/arrow.svg") 0 0 no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.item-qa__body {
  padding: 0.9375rem;
  color: #2F343A;
  background-color: transparent;
  border: 1px solid #C8A35F;
  border-top: none;
}

summary::-webkit-details-marker,
summary::marker {
  display: none;
  font-size: 0;
}

summary {
  cursor: pointer;
}

.page__order {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
}

.page__order::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75)));
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%);
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__body {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  text-align: center;
  max-width: 31.25rem;
}

.order__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.order__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form__button {
  width: 100%;
}

.page__contacts {
  background-color: #393F47;
}

.contacts__container {
  text-align: center;
  max-width: 56.25rem;
}

.contacts__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media (min-width: 47.99875em) {
  .header__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.0625rem;
            flex: 0 0 9.0625rem;
  }

  .item-price_full {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 61.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.8125rem;
            flex: 0 0 12.8125rem;
  }

  .header__logo::after {
    content: "";
    display: inline-block;
    height: 2.875rem;
    width: 1px;
    background-color: #F2F2F2;
    margin: 0 0.9375rem;
  }

  .item-qa__title {
    min-height: 5rem;
  }
}

@media (min-width: 69.375em) {
  .header {
    height: 9.0625rem;
  }

  .header__container {
    min-height: 9.0625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.9375rem;
       -moz-column-gap: 1.9375rem;
            column-gap: 1.9375rem;
  }
}

@media (min-width: 71.25em) {
  .title {
    font-size: 2.5rem;
  }

  .header__container {
    gap: 0.9375rem;
  }

  .footer {
    padding-top: 4.6875rem;
  }

  .footer {
    padding-bottom: 4.6875rem;
  }

  .page__main {
    padding-top: 9.0625rem;
  }

  .main__container {
    padding-top: 9.6875rem;
  }

  .main__content {
    margin-bottom: 2.8125rem;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .page__why {
    padding-top: 7.5rem;
  }

  .page__why {
    padding-bottom: 7.5rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .why__items {
    gap: 2.5rem;
  }

  .item-why {
    gap: 1.5625rem;
  }

  .page__services {
    padding-top: 7.5rem;
  }

  .page__services {
    padding-bottom: 7.5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .services__items {
    gap: 2.5rem;
  }

  .page__about {
    padding-top: 7.5rem;
  }

  .page__about {
    padding-bottom: 7.5rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .page__prices {
    padding-top: 7.5rem;
  }

  .page__prices {
    padding-bottom: 7.5rem;
  }

  .prices__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .page__qa {
    padding-top: 7.5rem;
  }

  .page__qa {
    padding-bottom: 7.5rem;
  }

  .qa__items {
    gap: 1.875rem;
  }

  .page__order {
    padding-top: 7.5rem;
  }

  .page__order {
    padding-bottom: 7.5rem;
  }

  .order__body {
    padding: 2.5rem;
  }

  .page__contacts {
    padding-top: 5.625rem;
  }

  .page__contacts {
    padding-bottom: 5.625rem;
  }
}

@media (max-width: 48em) {
  .header {
    height: 4.375rem;
  }

  .header__container {
    min-height: 4.375rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5625rem;
  }

  .header__container {
    gap: 0.625rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .page__main {
    padding-top: 4.375rem;
  }

  .main__container {
    padding-top: 3.125rem;
  }

  .main__content {
    margin-bottom: 1.25rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .page__why {
    padding-top: 2.1875rem;
  }

  .page__why {
    padding-bottom: 2.1875rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .why__items {
    gap: 1.875rem;
  }

  .item-why {
    gap: 0.9375rem;
  }

  .page__services {
    padding-top: 2.1875rem;
  }

  .page__services {
    padding-bottom: 2.1875rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .services__items {
    gap: 1.875rem;
  }

  .page__about {
    padding-top: 2.1875rem;
  }

  .page__about {
    padding-bottom: 2.1875rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .page__prices {
    padding-top: 2.1875rem;
  }

  .page__prices {
    padding-bottom: 2.1875rem;
  }

  .prices__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .page__qa {
    padding-top: 2.1875rem;
  }

  .page__qa {
    padding-bottom: 2.1875rem;
  }

  .qa__items {
    gap: 0.9375rem;
  }

  .page__order {
    padding-top: 2.1875rem;
  }

  .page__order {
    padding-bottom: 2.1875rem;
  }

  .order__body {
    padding: 1.25rem;
  }

  .page__contacts {
    padding-top: 2.1875rem;
  }

  .page__contacts {
    padding-bottom: 2.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .main__content {
    padding: 1.5625rem 1.875rem;
  }

  .qa__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .title::before {
    height: 0.1875rem;
    top: -1.25rem;
    width: 3.75rem;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 4.375rem;
    background-color: #24282c;
    width: 100%;
    z-index: 4;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .header::before {
    left: 0;
  }

  .header__phone {
    font-size: 1.25rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #2F343A;
    padding: 5.625rem 0.9375rem 1.875rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.1875rem;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__content {
    padding: 0.9375rem;
  }

  .about__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 1.875rem;
  }

  .prices__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .item-price {
    overflow-x: auto;
  }

  .item-price {
    overflow-x: auto;
  }

  .item-price table {
    min-width: 21.875rem;
  }

  .qa__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 27.5rem) {
  .header__logo {
    width: 2.5rem;
    overflow: hidden;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.5625rem , 1.1966463415rem  +  1.8292682927vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.5625rem , 1.1966463415rem  +  1.8292682927vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1966463415rem  +  1.8292682927vw , 2.5rem )) {
    .title {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
    .header__container {
      gap: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
    .header__container {
      gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem )) {
    .footer {
      padding-top: calc(1.25rem + 3.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0914634146rem  +  6.7073170732vw , 4.6875rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 3.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.5457317073rem  +  9.1463414634vw , 9.0625rem )) {
    .page__main {
      padding-top: clamp( 4.375rem , 2.5457317073rem  +  9.1463414634vw , 9.0625rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.5457317073rem  +  9.1463414634vw , 9.0625rem )) {
    .page__main {
      padding-top: calc(4.375rem + 4.6875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.5640243902rem  +  12.8048780488vw , 9.6875rem )) {
    .main__container {
      padding-top: clamp( 3.125rem , 0.5640243902rem  +  12.8048780488vw , 9.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.5640243902rem  +  12.8048780488vw , 9.6875rem )) {
    .main__container {
      padding-top: calc(3.125rem + 6.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem )) {
    .main__content {
      margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem )) {
    .main__content {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
    .main__title {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6402439024rem  +  3.0487804878vw , 2.8125rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__why {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__why {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__why {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__why {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .why__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .why__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
    .why__items {
      gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
    .why__items {
      gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.5625rem )) {
    .item-why {
      gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.5625rem )) {
    .item-why {
      gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__services {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__services {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__services {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__services {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .services__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .services__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
    .services__items {
      gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.631097561rem  +  1.2195121951vw , 2.5rem )) {
    .services__items {
      gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__about {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__about {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__about {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__about {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .about__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .about__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__prices {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__prices {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__prices {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__prices {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .prices__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.012195122rem  +  2.4390243902vw , 3.75rem )) {
    .prices__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__qa {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__qa {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__qa {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__qa {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .qa__items {
      gap: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .qa__items {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__order {
      padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__order {
      padding-top: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__order {
      padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.1143292683rem  +  10.3658536585vw , 7.5rem )) {
    .page__order {
      padding-bottom: calc(2.1875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .order__body {
      padding: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .order__body {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem )) {
    .page__contacts {
      padding-top: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem )) {
    .page__contacts {
      padding-top: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem )) {
    .page__contacts {
      padding-bottom: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.8460365854rem  +  6.7073170732vw , 5.625rem )) {
    .page__contacts {
      padding-bottom: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 51.25);
    }
}
}

@media (min-width: 48em) and (max-width: 69.375em) {
@supports (height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem )) {
    .header {
      height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem );
    }
}

@supports not (height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem )) {
    .header {
      height: calc(4.375rem + 4.6875 * (100vw - 48rem) / 21.375);
    }
}

@supports (min-height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem )) {
    .header__container {
      min-height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem );
    }
}

@supports not (min-height: clamp( 4.375rem , -6.1513157895rem  +  21.9298245614vw , 9.0625rem )) {
    .header__container {
      min-height: calc(4.375rem + 4.6875 * (100vw - 48rem) / 21.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem );
         -moz-column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem );
              column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , -1.3081140351rem  +  4.6783625731vw , 1.9375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1 * (100vw - 48rem) / 21.375);
         -moz-column-gap: calc(0.9375rem + 1 * (100vw - 48rem) / 21.375);
              column-gap: calc(0.9375rem + 1 * (100vw - 48rem) / 21.375);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: transparent;
  }

  .menu__item:hover .menu__link::after {
    width: 100%;
  }

  .menu__link::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    display: block;
    width: 0;
    height: 0.0625rem;
    background-color: #C8A35F;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }

  .footer__net:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    background-color: rgba(200, 163, 95, 0.45);
  }

  .main__net:hover {
    background-color: rgba(200, 163, 95, 0.45);
  }

  .why__item:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    border: 1px solid #C8A35F;
    -webkit-box-shadow: rgba(200, 163, 95, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(200, 163, 95, 0.2) 0px 7px 29px 0px;
  }

  .item-service__image img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-qa__title:hover {
    background-color: transparent;
    border: 1px solid #C8A35F;
    color: #2F343A;
  }

  .item-qa__title:hover::after {
    -webkit-filter: brightness(50%) hue-rotate(180deg);
            filter: brightness(50%) hue-rotate(180deg);
  }
}

@media (any-hover: none) {
  .main__mouse {
    display: none;
  }
}